/*版心区*/
.inner {
    width: 1200px;
    margin: 0 auto;
}

/*清除浮动*/
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "020";
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
}

/*全局字体*/
* {
    font-family: "微软雅黑";
}

a {
    color: #333333;
}

a:hover {
    color: #0187e6;
}

.box {
    /*border: 1px solid #999999;*/
    padding:0 30px 30px;
	box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 0px 10px 5px rgb(247,247,247);
}
/*当前位置*/
.position{
    padding: 20px 0;
    color: #999999;
}
.position a{
    color: #999999;
}
.position a:hover{
    color: #0187e6;
}
/*内容*/
.content{
	margin:0 auto;
    padding: 20px 0;
}
.content .title{
    font-size: 28px;
    text-align: center;
}
.content .ly{
    /*width: 900px;*/
    height: 40px;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
}
.content .ly a{
    display: inline-block;
    /*float: right;*/
}
.content .article{
    margin-top: 35px;
}
.content .article p{
    /* text-indent: 2em; */
    line-height: 35px;
}
/*打印*/
.content .dy{
   /* width: 900px;*/
    height: 40px;
    background-color: #f5f5f5;
    margin-top: 40px;
    line-height: 40px;
    padding-right: 30px;
}
.content .dy a{
    float: right;
}
